body{
    background-image: url('https://xperiencegame.fr/wp-content/uploads/2020/08/question-background-1.png');
}


/* .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} */

.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
    margin-left: 22vw;
    padding-top: 2%;
}

.typewriter-text {
    background: black;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 2s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 45px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    /* border-right: 4px solid rgb(255, 255, 255); */
    box-sizing: border-box;
    left: 50em;
}
.typewriter-textDeux {
    background: white;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 3px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 45px;
    font-weight: 700;
    color: rgb(2, 2, 2);
    border-right: 4px solid rgb(255, 255, 255);
    box-sizing: border-box;
    left: 50em;
    margin-left: 30%;
}



@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(50, 75, 61); 
    }
}

.cardUn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 30%;
    background: rgba(0, 0, 0, 0.598);
    position: absolute;
    /* border-radius: 3%; */
    left: 2%;
    top: 35%;
    /* border: solid 10px rgb(0, 0, 0); */
    box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
    -webkit-box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
    -moz-box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
}

.cardDeux{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 30%;
    background: rgba(0, 0, 0, 0.598);
    position: absolute;
    /* border-radius: 3%; */
    left: 35%;
    top: 35%;
    /* border: solid 10px rgb(0, 0, 0); */
    box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
    -webkit-box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
    -moz-box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
}

.cardTrois{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 30%;
    background: rgba(0, 0, 0, 0.598);
    position: absolute;
    /* border-radius: 3%; */
    left: 68%;
    top: 35%;
    /* border: solid 10px rgb(0, 0, 0); */
    box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
    -webkit-box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
    -moz-box-shadow: -3px 1px 30px 0px rgba(10,9,9,0.51);
}


.img img{
    height: 30vh;
    width: 30vw;
}

.theme p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
    background-color: rgba(255, 253, 253, 0);
    border: none;
    font-size: large;
}

.theme p{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


a :hover{
    transition: ease-in-out 1s;
    top: 45%;
    box-shadow: -3px 1px 30px 0px rgba(250, 248, 248, 0.51);
    -webkit-box-shadow: -3px 1px 30px 0px rgba(252, 248, 248, 0.51);
    -moz-box-shadow: -3px 1px 30px 0px rgba(247, 239, 239, 0.51);
}


.bouton button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 20vh;
    position: absolute;
margin-top: 760px;
margin-left: 43%;
background-color: red;
font-size: 1.5vh;
color: white;
}


.bouton :hover {
    background-color: green;
}

.hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 2.5vh;
    position: absolute;
margin-top: 810px;
 /* padding-left: 10%;
padding-right: 10%;  */
margin-left: 10%;
background-color: green;
  }