body{
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/06/Cool-Sports-HD-Wallpaper.jpg');
}

#questions{
    text-align: center;
    padding: 2%;
    color: aliceblue;
    font-size: 4vw;
}
.timer{
    height: 100px;
    width: 100px;
    background-color: rgb(221, 249, 97);
    border: rgb(255, 254, 254) solid 2px;
    border-radius: 50%;
    font-size: larger;
    display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  margin-top: 10vw;
  position: absolute;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 80%;
    background: rgba(255, 255, 255, 0.704);
    position: absolute;
    border-radius: 3%;
    left: 10%;
    top: 15%;
    box-shadow: -3px 1px 30px 0px rgba(255, 255, 255, 0.864);
    -webkit-box-shadow: -3px 1px 30px 0px rgb(255, 255, 255);
    -moz-box-shadow: -3px 1px 30px 0px rgba(255, 255, 255, 0.861);
}

#main div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.illustration img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 25vw;
    width: 50vw;
    background: black;
    left: 30%;
    margin-top: 2%;
}

.boutons button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 4vw;
    width: 45vh;
    margin-left: 1em;
    margin-bottom: 5%;
    border-radius: 10vw;
    background-color: #0a4364;
    border: 0ch;
    color: aliceblue;
    font-size: 2vw;
}

.boutons button:hover {
    background-color: rgb(67, 177, 74);
}


.resultQuiz{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 40vw;
    background: rgba(0, 0, 0, 0.704);
    position: absolute;
    border-radius: 3%;
    left: 30%;
    top: 15%;
    box-shadow: -3px 1px 30px 0px rgba(255, 255, 255, 0.864);
    -webkit-box-shadow: -3px 1px 30px 0px rgb(255, 255, 255);
    -moz-box-shadow: -3px 1px 30px 0px rgba(255, 255, 255, 0.861);
}

.resultQuiz img{
    height: 30vw;
    width: 30vw;
}

.resultQuiz div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.animTime img{
    width: 7rem;
  height: 7rem;
  margin-top: 840px;
  position: relative;
  animation-name: temps;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes temps {
    0%   {left: 0vw;}
    100% {left: 90vw;}
  }



h3{
    font-size: 5vw;
    color: azure;
}

p{
    font-size: 3vw;
    color: azure;
}

